@{
    ViewData["Title"] = "My Orders";
}
<div id="myOrders">
    <div class="container">
        <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    @{
                        foreach(var order in @ViewBag.ShowOne){
                            foreach(var item in order.Purchases){
                                <tr>
                                    <td><img src="@item.Product.Image" alt="" style="width:50px">     @item.Product.Name</td>
                                    <td>@item.Quantity</td>
                                    <td><button><a href="">Edit</a></button>   <button><a href="">Delete</a></button></td>
                                </tr>
                            }
                            
                        }
                     }
                </tbody>
        </table>
    </div>
</div>