@{
    ViewData["Title"] = "Customers";
}
<div id="CustomersPage">
    <div class="container">
        <h3>Add a new Customer</h3>
            <form class="form-inline" action="addUser" method="post">
                <label class="sr-only" for="Name">Customer Name:</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="Name" placeholder="Name">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</div>