@{
    ViewData["Title"] = "Customers";
}
<div id="CustomersPage">
    <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Number of Items</th>
                    <th>Shopping Cart</th>
                </tr>
                </thead>
                <tbody>             
                    @{
                            foreach(var user in @ViewBag.ListOfUsers){
                                <tr>
                                
                                @{bool count = false;}
                                @if(@user.Purchases.Count > 0){
                                    count = true;
                                }
                                @if(@count == true){
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@user.Purchases.Count</td>
                                    <td><a href="/customer/@user.id">Show Shopping Bag</a></td>
                                }
                                </tr>
                            }
                        }
                
                </tbody>
            </table>
        </div>
    </div>
</div>
