@{
    ViewData["Title"] = "Settings";
}
<div id="settings">
    <div class="container">
        <div class="left">
            <p>Need to edit account information? <a href="/edit">Edit</a><p>
            <p>Delete Account <a href="/delete">Delete</a></p>
        </div>
    </div>
</div>