/*Write all of your CSS here*/

body {
    padding-bottom: 100px;
}

#productsPage .left .form-group-row {
    width: 100px;
}

#productsPage .container .left {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    padding: 10px;
    height: 100%;
}

.OuterRight {
    display: inline-block;
    vertical-align: top;
    width: 80%
}

.OuterRight .right {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 225px;
}

.right img {
    width: 150px;
    height: 100px;
}

.form-group {
    width: 200px;
    display: block;
    height: 70px;
    margin: 0;
}

.form-group .col-xs-2 input .form-control {
    width: 100%;
}

.registerSection {
    display: inline-block;
    vertical-align: top;
    margin-left: 200px;
}

.loginSection {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

#OneProduct .container .top img {
    display: inline-block;
    width: 350px;
}

#OneProduct .container .top p {
    display: inline-block;
}

#OneCustomer .container .middle img {
    display: inline-block;
    width: 350px;
}

#dashboard .container .bottom {
    text-align: center;
}

#dashboard .container .middle {
    padding-top: 30px;
    margin-left: 20px;
    display: inline-block
}

#dashboard .container .middle .innerMiddle img {
    width: 200px;
    min-height: 150px;
    margin-left: 10px;
    display: inline-block;
}

#dashboard .container .middle .innerMiddle {
    text-align: center;
    display: inline-block;
}

.top img {
    width: 100%;
    height: 100%;
}